h1{
    text-align: center;
}


.nextPageArrow{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 18px;
    background-color: black;
    clip-path: polygon(0% 100%,50% 0%,100% 100%,50% 80%);
    transform: rotate(90deg);
    
}

.nextPageFrame{
    height: 70px;
    width:70px;
    position: absolute;
    bottom: 3%;
    left:85%;
    display: grid;
    place-items: center;
    background-color: transparent;
    clip-path: circle(150px);
    border: 5px solid black;
    border-radius: 50%;
}