@import url('../pi.estacionamento.css');
body{
    background-image: url("./assets/wallpaper.jpg");
    background-size:cover;
    background-repeat:repeat;
    background-position-x: center;
    background-position-y: 25%;
    background-repeat: no-repeat;
}

.tabela{
    height: 350px;
    width: 160px;
    background-image: url('./assets/wood.jpg');
    position: absolute;
    top:120px;
    left: 200px;
    border-radius: 5px;

}
.tabela::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -50px;
    left: -10px;
    background-image:url('./assets/silver.jpg');
    clip-path: ellipse(80px 50px at bottom);
    height: 30px;
    width:180px;

}
.tabela::before{
    content: '';
    display: block;
    position: absolute;
    bottom:-50px;
    left:40px;
    height: 50px;
    width:80px;

    background: 
        linear-gradient(90deg,transparent 70%,burlywood 30%),
        linear-gradient(-90deg,transparent 70%,burlywood 30%),
        radial-gradient(ellipse at left,transparent 70%,silver 30%),
        radial-gradient(ellipse at right,transparent 70%,silver 30%);
}
.preços{
    position: absolute;
    top: 25px;
    left: 10px;
    background-image: url('./assets/steel.jpg');
    background-position-y: -100px;
    height: 300px;
    width: 140px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12.3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.telaDePagamento{
    position: absolute;
    top: 150px;
    left: 500px;
    background-image: url('./assets/plastic.jpg');
    background-size: cover;
    height: 300px;
    width: 600px;
    border:8px groove darkslategrey;

}

.telaDePagamento::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -100px;
    left:100px;
    height: 100px;
    width: 400px;
    background:
        radial-gradient(ellipse at top left,transparent 70%,black 70%),
        radial-gradient(ellipse at top right ,transparent 70%,black 70%);
    background-position-x: -200px;
    background-position-y:10px;
    background-repeat: repeat-x;
}
.startBtn{
    height: 60px;
    width: 200px;
    position: absolute;
    top:120px;
    left:200px;
    font-size: 18px;
    border-radius: 5px;
    background: whitesmoke;
    background-size: 125%;
    border:2px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.startBtn:hover{
    box-shadow: 0px 0px 5px 2px rgba(245, 245, 245, 0.5);
}

.selectionHeader{
    text-align: center;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dinheiroBtn{
    height: 60px;
    width: 100px;
    position: absolute;
    top:160px;
    left:100px;
    font-size: 18px;
    border-radius: 5px;
    background: radial-gradient(ellipse at top left,#00C700 70% ,#00D400 70%);
    background-size: 125%;
    border:2px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    visibility: hidden;
}
.dinheiroBtn:hover{
    box-shadow: 0px 0px 5px 2px #00C700;
}
.pixBtn{
    height: 60px;
    width: 100px;
    position: absolute;
    top:160px;
    left:400px;
    font-size: 18px;
    border-radius: 5px;
    background: radial-gradient(ellipse at top left,#00c7ac 70% ,#00a2d4 70%);
    background-size: 125%;
    border:2px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    visibility: hidden;
}
.pixBtn:hover{
    box-shadow: 0px 0px 5px 2px #00a2d4;
}
#clientInfo{
    height: fit-content;
    width: 600px;
    margin:0px;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction: column;
    text-align: center;
    
}
#clientInfo p{
    margin: 12px;
    text-align:center;
}

#clock{
    display: flex;
    height: 30px;
    width: 600px;;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;  
    margin-top: 5%;  
}
#clock p{
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 30px;
    width:fit-content;
    line-height:30px;
    margin:0px

}

.forward{
    display: inline;
    float: right;
    height: 30px;
    width: 30px;
    border: none;
    background:url('./assets/forward.png');
    background-size:70%;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;

}



.inCash{
    position: absolute;
    top: 150px;
    left: 500px;
    background:
        radial-gradient(ellipse at center,rgba(0, 255, 98,1) 70%,rgba(20, 133, 69, 0.98) 30%);
    
    background-position: center;
    background-size: 110%;
    height: 300px;
    width: 600px;
    border:8px groove darkslategrey;
    background-repeat: no-repeat;
}

.inCash::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -100px;
    left:100px;
    height: 100px;
    width: 400px;
    background:
        radial-gradient(ellipse at top left,transparent 70%,black 70%),
        radial-gradient(ellipse at top right ,transparent 70%,black 70%);
    background-position-x: -200px;
    background-position-y:10px;
    background-repeat: repeat-x;

}
#payBtn{
    margin-top: 10px;
    height: 20px;
    width: 70px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
    justify-self: center;
    background: darkgreen;
    color: lavender;
    border: none;
    box-shadow: 0px 0px 5px 2px rgba(5, 5, 5, 0.5);
}
.inPix{
    position: absolute;
    top: 150px;
    left: 500px;
    background:
    url('./assets/pix.png'),turquoise;
    
    background-position-x: 410px;
    background-position-y: 60px;
    background-size: 80%;
    height: 300px;
    width: 600px;
    border:8px groove darkslategrey;
    background-repeat: no-repeat;
}

.inPix::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -100px;
    left:100px;
    height: 100px;
    width: 400px;
    background:
        radial-gradient(ellipse at top left,transparent 70%,black 70%),
        radial-gradient(ellipse at top right ,transparent 70%,black 70%);
    background-position-x: -200px;
    background-position-y:10px;
    background-repeat: repeat-x;

}