<div class="modal fade" id="ticketModal" tabindex="-1" aria-labelledby="novoTicket" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ticketModalLabel">Cadastrar Novo Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="/api/newTicket/" method="POST">
              <div class="mb-3">
                <label for="veiculo" class="form-label">Veículo</label>
                <input type="text" class="form-control" name="veiculo" id="veiculo">
              </div>
              <div class="mb-3">
                <label for="preferencial" class="form-label">Preferencial</label>
                <input type="text" class="form-control" name="preferencial" id="preferencial">
              </div>
              <div class="col-12 text-end">
                  <button type="submit" class="btn btn-primary">Gerar</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>