@import url(../pi.estacionamento.css);
body{
    
    background: url("./assets/entrada_estacionamento.jpg"),rgba(0,0,0,.7);
    background-repeat: no-repeat;
    background-position: top;
}


.totemBtn{
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: absolute;
    top: 30%;
    left: 30%;
    border: 1px initial crimson;

}

.totemHead{
    position: absolute;
    width: 108px;
    height: 72px;
    background-color: slategray;
    border:1px groove black

}

.totemBody{
    position: absolute;
    left: 30%;
    top: 60%;
    width: 110px;
    height: 360px;
    background-color: slategray;
    border:1px groove black
}
.totemBoca{
    width: 45px;
    height:2px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    top:35%;
    left:30%;

}
.miniTicket{
    background-color: whitesmoke;
    height: 50px;
    width: 35px;
    position: absolute;
    left: 15%;
    margin-top: 2px;
    transition-duration: 500ms;
    padding-top: 0px;
}

.miniTicket::after{
  content: "";
  display: block;
  visibility: var(--v,'visible');
  position: absolute;
  width: 100%;
  height: 29px;
  right: 0;
  bottom: -30px;
  transition-duration: 100ms;
  left: 0;
  background: 
    linear-gradient(-45deg, transparent 70%, white 75% ), 
    linear-gradient( 45deg, transparent 70%, white 75% );
  background-repeat: repeat-x;
  background-size: 7px 8px, 7px 8px;
  background-position-x: center;
}

.totemFlag{
    position: absolute;
    height: 15px;
    width: 15px;
    background-image: url('./assets/totemFlagLamp.png');
}

.cancelaFechada{
    position:absolute;
    background-image: url('./assets/cancela_texture.jpg');
    background-repeat: repeat-x;
    background-origin:border-box;
    top: 65%;
    left: 38%;
    width: 500px;
    height: 50px;
    transition-duration: 500ms;

}
.cancelaAberta{
    position:absolute;
    background-image: url('./assets/cancela_texture.jpg');
    background-repeat: repeat-x;
    top: 65%;
    left: 38%;
    width: 500px;
    height: 50px;
    transform: rotate(-35deg);
    transform-origin: bottom left;
    
}
.backgroundShade{
    position: absolute;
    height:730px;
    width: 1400px;
    background: rgba(0,0,0,.5)

}

.ticket{
    background-color: ivory;
    position: absolute;
    top: 20%;
    left: 22%;
    height: 350px;
    width: 750px;
}
.ticket::before{
    content: '';
    display: block;
    position: absolute;
    background:
            linear-gradient(to top left,  #fff 50%,transparent 50%),
            linear-gradient(to bottom left,  #fff 50%,transparent 50%);
    top: 0px;
    left:-40px;
    height: 100%;
    width: 40px;
    background-repeat:repeat-y;
    background-size: 100% 10%;
}
.ticket::after{
    content: '';
    display: block;
    position: absolute;
    background:
            linear-gradient(to top right,  #fff 50%,transparent 50%),
            linear-gradient(to bottom right,  #fff 50%,transparent 50%);
    top: 0px;
    right:-40px;
    height: 100%;
    width: 40px;
    background-repeat:repeat-y;
    background-size: 100% 10%;
}
.faixaVagaPreferencial{
    background: radial-gradient(ellipse,blue 50%,transparent 50%);
    position: absolute;
    left:250px;
    width:250px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    font-family: sans-serif;

}
#nomeEstacionamento{
    font-family: fantasy;
    position: absolute;
    top: 15%;
    width: inherit;
}

#infoCliente{
    font-family: fantasy;
    position: absolute;
    top:45%;
    width: inherit;
    text-align: center;
    
}
.VSprite{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 35%;
    left:340px;
}
#bemVindo{
    font-family: fantasy;
    position: absolute;
    top:75%;
    width: inherit;
    text-align:center;
}

.codigoDeBarra{
    height: 50%;
    width: 10%;
    position: absolute;
    top: 25%;
    left: 10%;
}






